blog.jackihyun.com {
  encode gzip

  @nextOg path /api/og
  handle @nextOg {
    reverse_proxy 127.0.0.1:3000
  }

  @api path /api/*
  handle @api {
    reverse_proxy 127.0.0.1:8080
  }

  handle {
    reverse_proxy 127.0.0.1:3000
  }
}
